# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.swf binary
*.eot binary
*.svg binary
*.ttf binary
*.woff binary
*.otf binary
*.psd binary
